/* Empty. Add your own CSS if you like */
.count{
	margin-top: 50px;
	font-size: 15em;
	text-align: center;
}

.counter{
	padding-top: 50px;
}
.reset{
	padding: 0px 50px 0px 50px;
}
.button-bar{
	padding: 0px 50px 20px 50px;
}